<strong>Olá, {{ deliveryman }}</strong>
<p>Informamos que a seguinte entrega foi cancelada:</p>
<p>
  <strong>Produto: </strong>{{ product }}<br />
  <strong>Destinatário: </strong>{{ recipient }}<br />
  <strong>Endereço: </strong>{{ street }} {{ number }}<br />
  <strong>Complemento: </strong>{{ complement }}<br />
  <strong>Cidade: </strong>{{ city }}<br />
  <strong>Estado: </strong>{{ state }}<br />
  <strong>CEP: </strong>{{ cep }}
</p>
