<strong>Olá, {{ deliveryman }}</strong>
<p>Informamos que você possuí um novo produto disponível para a retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong>{{ product }}<br />
  <strong>Destinatário: </strong>{{ recipient }}<br />
  <strong>Endereço: </strong>{{ street }} {{ number }}<br />
  <strong>Complemento: </strong>{{ complement }}<br />
  <strong>Cidade: </strong>{{ city }}<br />
  <strong>Estado: </strong>{{ state }}<br />
  <strong>CEP: </strong>{{ cep }}<br />
  <br />
  <small>
    Lembramos que o hória de retirada é de 08:00h até 18:00h.
  </small>
</p>
